.dropdownButton {
  background: none;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  height: fit-content;
  cursor: pointer;
  position: relative;
  font-weight: 500;
  font-size: 17px;
  transition: background-color 0.3s ease;
}

.dropdownButton:hover {
  background-color: rgb(113, 255, 113);
}

.dropdownIcon {
  margin-left: 3px;
}

.dropdownMenu {
  background-color: rgb(250, 255, 224);
  position: absolute;
  list-style: none;
  padding: 0;
  margin: 0;
  padding-top: 2px;
  min-width: 300px;
  border-radius: 0px 5px 5px 5px;
}

.dropdownItem {
  padding: 10px 20px;
  margin-bottom: 2px;
  cursor: pointer;
}

.dropdownItem:hover {
  background-color: lightgray;
}