.navbar {
  background-color: rgb(152, 255, 160);
  display: flex;
  justify-content: space-between;
  padding: 10px 40px;
}

.leftSection, .rightSection {
  display: flex;
  justify-content: space-between;
  align-items: end;
}